$(start_block_header)
//================================================================================================//
// M O D U L E   H E A D E R
//------------------------------------------------------------------------------------------------//
// generated with LCD Image Converter (http://code.google.com/p/lcd-image-converter)
// filename: 				$(fileName)
// name: 					$(documentName)
// size: 					$(width) x $(height)
// datatype:				$(dataType)
// preset name: 			$(preset)
// data block size: 		$(dataBlockSize) bit(s), U$(dataBlockSize)
// RLE compression enabled: $(rle)
// conversion type: 		$(convType), $(monoType) $(edge)
// bits per pixel: 			$(bpp)
//
// preprocess:
//  main scan direction: 	$(scanMain)
//  line scan direction: 	$(scanSub)
//  inverse: 				$(inverse)
//================================================================================================//
#ifndef $(documentName_ws)_H
#define $(documentName_ws)_H
//================================================================================================//



//================================================================================================//
// I N C L U D E S
//------------------------------------------------------------------------------------------------//
#include "Core.h"
#include "draw/StdDraw.h"
//================================================================================================//
$(end_block_header)



//================================================================================================//
// E X P O R T E D   V A R I A B L E S
//------------------------------------------------------------------------------------------------//
$(start_block_images_table)
static const U$(dataBlockSize) imagedata_$(documentName_ws)[$(blocksCount)] = 
{
    $(imageData)
};
static const IMAGE image_$(documentName_ws) = {IMAGE_FORMAT_GRAY4, $(width), $(height), imagedata_$(documentName_ws)};
$(end_block_images_table)
//------------------------------------------------------------------------------------------------//
#endif /* $(documentName_ws)_H */
